POSTGRES_PASSWORD=admin123
JWT_SECRET=cz1skqDHlb4Y6s4UlihMCscpyxoacM4rRv6ZPI6KjTg=
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/ecommerce_db?retryWrites=true&w=majority
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
EMAIL_FROM=Relay <no-reply@relay.example.com>
VITE_API_URL=http://localhost:5000/api
